:root {
    --first: rgb(255, 255, 255);
    --second: rgb(136, 129, 129);
    --third: rgb(52, 116, 235);
    --fourth: rgb(16, 15, 26);
    --fifth:rgb(235, 235, 235);
    --sixth:rgb(80, 102, 152);
}
body{
    background-color: var(--fifth) !important;
}

.dark-theme{
    
    --first: rgb(255, 255, 255);
    --second: rgb(40, 38, 38);
    --third: rgb(7, 13, 25);
    --fourth: rgb(16, 15, 26);
    --fifth:rgb(0, 0, 0,0.4);
}

.first-navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-bottom: 1%;
    color: var(--first);
    background-color: var(--second);
}

#navbar {
    padding: 1%;
    background-color: var(--third);
}

.email,
.phone {
    cursor: pointer;
}

.vit-logo {
    padding-left: 3%;
}

.main-navbar {
    display: flex;
    justify-content: left;
}

#navbarNav {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

#navbarNav ul li a{
    color: var(--first);
}

#link {
    position: relative;
}

#link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--second);
    transition: width .2s ease;
}

#link:hover:after {
    width: 100%;
    left: 0;
    background: var(--second);
}

.photo {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.course {
    padding: 10px 10px;
    text-align: center;
    color: var(--third);
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    position: relative;
    width: 50%;
    cursor: pointer;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.image-1 {
    padding-top: 4%;
}

.image-2 {
    padding-top: 7%;
}

.image-3 {
    padding-top: 5%;
}

.image-4 {
    padding-top: 6%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--third);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.program-images {
    display: flex;
    flex-direction: row;
    background-color: var(--second);
}

.text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width:1100px) {
    .program-images {
        display: flex;
        flex-direction: column;
    }
}

.achievements {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.inner-achievement {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--fourth);
    align-items: center;
}

@media (max-width:700px) {
    .achievements {
        flex-direction: column;
        align-items: center;
    }

    .inner-achievement {
        padding: 5%;
        align-items: center;
    }

    .achievements :nth-child(1) {
        padding-right: 2%;
    }

    .achievements :nth-child(2) {
        padding-left: 2%;
    }

    .achievements :nth-child(3) {
        padding-right: 2%;
    }

    .achievements :nth-child(4) {
        padding-right: 5%;
    }
}

.founder {
    background-color: var(--second);
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 50%;
    color: white;

}

.chancellor {
    padding: 3%;
}

.about-founder {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    font-family: 'Roboto Condensed';
}

.college {
    width: 40%;
    height: 40%;
    margin-top: 8%;
    padding-left: 1%;
    padding-right: 1%;
}


@media (max-width:1320px) {
    .founder {
        flex-direction: column;
        height: 95%;
    }

    .chancellor {
        width: fit-content;
        margin-left: 30%;
    }

    .college {
        display: none;
    }
}

.social ul {
    display: flex;
    position: absolute;
    transform: translate(90%, 50%);
    padding-left: 7%;
}

.social ul li {
    list-style: none;
}

.social ul li a {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.social ul li a .icon {
    position: relative;
    color: rgb(38, 38, 38);
    transition: .5s;
    z-index: 3;
}

.social ul li a:hover .icon {
    color: rgb(255,255 ,255);
    transform: rotateY(360deg);
}

.social ul li a:before {
    content: "";
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
}

.social ul li a:hover:before {
    top: 0;
}

.social ul li:nth-child(1) a:before {
    background: #3b5999;
}

.social ul li:nth-child(2) a:before {
    background: #55acee;
}

.social ul li:nth-child(3) a:before {
    background: #0077b5;
}

.social ul li:nth-child(4) a:before {
    background: #f20c0c;
}

@media (max-width:800px) {
    .social ul{
        margin-bottom: 50%;
        flex-direction: column;
    }

    footer{
        display: none;
    }
}

footer{
    top: 0;
    padding-top: 7%;
    text-transform: uppercase;
    padding-left: 1%;
    font-family: 'Roboto Condensed';
    text-decoration: underline;
}

#btnScrollToTop {
    position: fixed;
    right: 1%;
    bottom: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(13, 37, 37);
}

#btnScrollToTop:hover{
    background-color: var(--sixth);
    cursor: pointer;
}

#icon{
    width: 2%;
    cursor: pointer;
}

@media (max-width:1300px) {
    #icon{
        width: 2%;
    }
}

@media (max-width:990px) {
    #icon{
        position: relative;
        width: 8%;
    }
}

